body {
    margin: 0px;
    padding:0px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255) );
    z-index: 1;
    height: 100%;
    scroll-behavior: smooth;
}



/*NAVBAR*/

nav {
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 20px;
    
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    color: #555;
}

/*LOGO*/



    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fade-in 2s forwards;
        height: 100vh;
        
        
        }
    
        @keyframes fade-in {
            from {
                opacity: 0;
            }
    
            to {
                opacity: 1;
            }
        }
    
        .logo {
            max-width: 100%;
            height: auto;
            max-height:500px;
        }

        /* NEXT SECTION arrow*/

            .arrow-container {
                position: fixed;
                bottom: 35px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 999;
                display: flex;
                justify-content: center;
                align-items: center;
                 }
        
            .arrow-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border: solid  rgb(93,21, 244, 255);
                border-width: 0 5px 5px 0;
                transform: rotate(45deg);
                border-radius: 4px;
            }
        
            .arrow-link:hover {
            opacity: .7;
            }
        
            .arrow-link.hide{
            display: none;
            }


            /*Introduction SECTION*/

        #next-section {
            height:100vh;
        }

        .project-title {
            padding-top: 2%;
            color:#000000;
            text-align: center;
            font-size: 2.3rem;
        }

       

        .about_photo_container {
            display: flex;
            justify-content:center;
            align-items: center;
            animation: fade-in 2s forwards;
            height: 50vh;
            padding-top: 5%;;

        }

        .about_photo {
            max-width: 100%;
            height: auto;
            max-height: 500px;
            border-radius: 10px;
            box-shadow: 0 5px 8px rgba(0.6, 0.6, 0.6, 0.6);

        }

        .introduction {
            justify-content: center;
            margin: 0 auto;
            padding: 2%;
            width:45%;
            height: 1px;
            font-size: 1.3rem;
            animation: bounce 2s 2;
    
            
        }

        /* INFO CHART*/
                  .chart-container {
                      max-width: 800px;
                      margin: 0 auto;
                      background-color: rgba(255, 255, 255, 0.2);
                      padding: 20px;
                      border-radius: 8px;
                      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                      
                  }
        
                  .timeline {
                      display: flex;
                      flex-direction: row;
                      flex-wrap: wrap;     
                      justify-content: space-between;                
                      
                  }
        
                  .year {
                      width: 100px;
                      padding: 10px;
                      background-color: #08278d;
                      color: #fffefe;
                      text-align: center;
                      border-radius: 4px;
                      margin-right: 10px;
                      margin-bottom: 10px;
                      margin-left: 2%;
                    font-size: 40px;
                   
                      
                  }
        
                  .description {
                      flex: 1;
                      max-width: 600px;
                      padding: 10px;
                      background-color: #022438;
                      border-radius: 4px;
                      margin-bottom: 10px;
                      color: #c2c1c4;
                  }


                #particles-js {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -2;
                    }


        /*PROJECT SECTION*/

        .project_title {
            display: flex;
            margin: 0 auto;
            justify-content: center;
            padding-top: 10%;;
            font-size: 2rem;

        }

        #projects {
            width: 80%;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            height: 50vh;
        }

        .project_titles {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;
            max-width: 75%;
            
        }
        .project_icons {
            display: flex;
            width: 100%;
            max-width: 100%;
            height: auto;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;
        }

                @keyframes bounce {
        
                    0%,
                    20%,
                    50%,
                    80%,
                    100% {
                        transform: translateY(0);
                    }
        
                    40% {
                        transform: translateY(-20px);
                    }
        
                    60% {
                        transform: translateY(-10px);
                    }
                }


                .intro {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    max-width: 45%;
                    font-size: 1.3rem;


                }

                /*Contact_info section*/

                #contact_info {
                    text-align: center;
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding-top: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 15vh;
                    }
                
                
                #contact_info .social-links a {
                    display: inline-block;
                    margin: 0 10px;
                    text-decoration: none;
                    color: #333;
                    font-size: 1.5em;
                    }
                
                #contact_info .social-links a:hover {
                    color: #007bff;
                    }




        /* Mobile */

                
                @media only screen and (max-width: 768px) {
                    body {
                        font-size: 14px;
                    }
        
                    .logo-container {
                        height:50vh;
                    }
        
                    .arrow-container {
                        margin-bottom: 20%;
                        
                    }
        
                    .project-title {
                        font-size: 1.8rem;
                        margin-top: 38vh;;
                    }
        
                    .about_photo_container {
                        height: 40vh;
                        width: 90%;
                        margin: 0 auto;
                    }

                    .chart-container {
                        margin-top: 35%;
                        max-width: 80%;
                    }

                    .timeline {
                        display: block;
                        margin: 0 auto;
                        align-items: center;
                        
                        
                    }
        
                    .introduction {
                        width: 80%;
                        height:auto;
                        font-size: 1.2rem;
                        padding-top: 2vh;
                    }
        
                    #projects {
                        width: 100%;
                        margin-top: 120%;
                        align-items: center;
                    }
        
                    .project_title {
                        max-width: 80%;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                    .project_icons {
                        max-width: 100%;
                        width: 75%;
                        display: flex;;
                    }

                    .project_icons img {
                        max-width: 40%;
                        height: auto;
                    }
                    
                    #contact_info {
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;

                    }
                 



                }